{% extends 'layout.html' %} {% block body %}


<style>
  html body {
    background-color: rgb(206, 206, 228);
  }
</style>
<br /><br />
  <h2 style=" text-align: center, margin: 0px; color: black">
    <b>Our Business Proposition</b>
  </h2>
  <br />
  <br>
<!---
<div style="
    width: 350px;
    height: 50rem;
    margin: 0px auto;
    color: black;
    border-radius: 25px;
    padding: 10px 10px;
    font-weight: bold;
  ">-->


  <h1><b>Krishi Tech is a Service Based Product.</b></h1>
  
  
  
  <p> We have a wide pricing range for our product. We help and guide young farmers 
    to cultivate their crops. Assisting them along the road to better profits and success is what makes us happy and keeps driving us to do more.
    We have 2 different types of payment plans. The first is where the farmers avail our services for a fixed premium. The second method is that our company would assist the famrer throughout the season
    the 6 month phase starting from sowing to reaping and we are paid a percentage of the farmers yield or earning only when the farmer is profitted. </p>
  <p>
<br>
<br>
<br>
    The market capital of the agricultural sector is ₹2516 Billion rupees in 2021 and is expected to rought reach the figures of ₹41,487.7 Billion Rs by the end of 2027.
    With such market potential it is very sad and disheartening that only 5 percent of the youth are engaged in farming but approximately 50 % of the country still relies on agriculture directly or indirectly
  </p>


</div>
{% endblock %}