{% extends 'layout.html' %} {% block body %}


<style>

  html body {
    background-color: rgb(25,24,24);
  }
</style>
<!--Form Section-->
<br /><br />
<h2 style="text-align: center; margin: 0px; color: antiquewhite">
  <b>Find out the most suitable crop to grow in your farm</b>
</h2>
<br />

<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <div class="weatherWidget" ></div>
    
    <script>
    
    
    window.weatherWidgetConfig =  window.weatherWidgetConfig || [];
    window.weatherWidgetConfig.push({
       selector:".weatherWidget",
       apiKey:"SZM5CB3KHHP3FVWH6Q3F4MLGS", //Sign up for your personal key
       unitGroup:"metric", //"us" or "metric"
       forecastDays:5, //how many days forecast to show 
       showTitle:true, 
       showConditions:true
    });
    
    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://www.visualcrossing.com/widgets/forecast-simple/weather-forecast-widget-simple.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    </div>
    </div>
    
    <div
      style="
        width: 350px;
        height: 50rem;
        margin: 0px auto;
        color: antiquewhite;
        border-radius: 25px;
        padding: 10px 10px;
      "
    >
      <form method="POST" action="{{ url_for('crop_prediction') }}">
        <div class="form-group">
          <!--<label for="Nitrogen" style="font-size: 17px"><b>Nitrogen</b></label>
          <input
            type="number"
            class="form-control"
            id="Nitrogen"
            name="nitrogen"
            placeholder="Enter the value (example:50)"
            style="font-weight: bold"
            required
          />
        </div>
        <div class="form-group">
          <label for="Phosphorous" style="font-size: 17px"
            ><b>Phosphorous</b></label
          >
          <input
            type="number"
            class="form-control"
            id="Phosphorous"
            name="phosphorous"
            placeholder="Enter the value (example:50)"
            style="font-weight: bold"
            required
          />
        </div>
    
        <div class="form-group">
          <label for="Pottasium" style="font-size: 17px"><b>Pottasium</b></label>
          <input
            type="number"
            class="form-control"
            id="Pottasium"
            name="pottasium"
            placeholder="Enter the value (example:50)"
            style="font-weight: bold"
            required
          />
        </div>
        <div class="form-group">
          <label for="ph" style="font-size: 17px"><b>ph level</b></label>
          <input
            type="number"
            step="0.01"
            class="form-control"
            id="ph"
            name="ph"
            placeholder="Enter the value"
            style="font-weight: bold"
            required
          />
        </div>
        <div class="form-group">
          <label for="Rainfall" style="font-size: 17px"
            ><b>Rainfall (in mm)</b></label
          >
          <input
            type="number"
            step="0.01"
            class="form-control"
            id="Rainfall"
            name="rainfall"
            placeholder="Enter the value"
            style="font-weight: bold"
            required
          />
        </div>-->
        <div class="col">
    
          <div class="form-group">
            <label for="State" style="font-size: 17px; color: antiquewhite;"><b>State</b></label>
            <select
              onchange="print_city('state', this.selectedIndex);"
              id="sts"
              name="stt"
              class="form-control"
              style="font-weight: bold; color: black"
              required
            ></select>
            <br />
            <label for="City" style="font-size: 17px; color: antiquewhite;"><b>City</b></label>
            <select
              id="state"
              class="form-control"
              name="city"
              style="font-weight: bold; color: black"
              required
            ></select>
            <script language="javascript">
              print_state("sts");
            </script>
          </div>
      
          <div class="d-flex justify-content-center">
            <button
              type="submit"
              class="btn btn-info"
              style="
                color: black;
                font-weight: bold;
                width: 130px;
                height: 50px;
                border-radius: 12px;
                font-size: 21px;
              "
            >
              Predict
            </button>
          </div>
        </form>
      </div>
        
    </div>


    
  

<!-- Form section -->

{% endblock %}
